*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    width: 400px;
    height: 500px;

    border: 2px solid brown;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.count_button{
    margin-top: 20px;
    gap: 10px;

    display: flex;
    justify-content: end;
    align-items: center;
    width: 250px;

}

.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}


button{
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

}

.add_item {
    width: 200px;
    height: 50px;
    margin-bottom: 30px;

    border-radius: 15px;
    background-color: brown;
    color: white;

}